<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-Website-20140930020114.mdf;Initial Catalog=aspnet-Website-20140930020114;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="ApplicationDBEntities" connectionString="metadata=res://*/EFApplicationDB.csdl|res://*/EFApplicationDB.ssdl|res://*/EFApplicationDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ISIPLMUMDSK044;initial catalog=ApplicationDB;user id=sa;password=intelli$123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="vs:EnableBrowserLink" value="false" />

    <!--Mail configuration Entries Start-->
    <add key="FromEmailID" value="EMAIL ADDRESS" />
    <add key="FromUserName" value="Notification" />
    <add key="MailHost" value="smtp.gmail.com" />
    <add key="MailPort" value="587" />
    <add key="MailHostUserName" value="EMAIL ADDRESS" />
    <add key="MailhostPassword" value="PASSWORD" />
    <add key="CCEmailID" value="EMAIL ADDRESS" />
    <!--Mail configuration Entries End-->

    <!--Authentication module Entries Start-->
    <add key="CustomAuthentication.LoginUrl" value="/Login.aspx" />
    <add key="CustomAuthentication.CookieName" value=".AASPXAUTH" />
    <add key="CustomAuthentication.CookieTimeout" value="30" />
    <!--Authentication module Entries End-->

    <add key="WebsiteURL" value="http://localhost:54298/" />
    <add key="URLReferrerPath" value="localhost" />
    <add key="ExceptionPath" value="Exception\Exception_$.txt" />
    <add key="LogPath" value="Log\Log_$.txt" />
    <add key="UploadedFilePath" value="UploadedFile\" />
    <add key="MailTemplatePath" value="Views\Shared\_MailTemplate.cshtml" />
    <add key="WriteException" value="true" />
    <add key="ItemsPerPage" value="10" />

    <add key="SessionBased" value="true"/>
    <add key="AdminUsername" value="admin" />
    <add key="AdminPassword" value="admin" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <httpModules>
      <add name="CustomAuth" type="CustomAuth.CustomAuthenticationModule" />
    </httpModules>
    <httpRuntime requestValidationMode="2.0" targetFramework="4.5" maxRequestLength="51200" executionTimeout="300" />
    <pages validateRequest="false" />
    <compilation debug="true" targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="FormsAuthenticationModule" />
      <add name="CustomAuth" type="CustomAuth.CustomAuthenticationModule" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.Identity.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>