@using CustomAuth

@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "" }))
{
    @Html.AntiForgeryToken()
    <div class="navbar-buttons navbar-header pull-right" role="navigation">
        <ul class="nav ace-nav">
            @if (UserContext.CurrentUser.User != null)
            {
                <li class="light-blue">
                    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                        <img class="nav-user-photo" src="~/Content/avatars/avatar2.png" alt="Jason's Photo" />
                        <span class="user-info">
                            <small>Welcome,</small>@UserContext.CurrentUser.User.firstname
                        </span>
                        <i class="ace-icon fa fa-caret-down"></i>
                    </a>

                    <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                        <li>
                            <a href="#"><i class="ace-icon fa fa-cog"></i>Settings</a>
                        </li>
                        <li>
                            <a href="profile.html"><i class="ace-icon fa fa-user"></i>Profile</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="javascript:document.getElementById('logoutForm').submit()"><i class="ace-icon fa fa-power-off"></i>Logout</a>
                        </li>
                    </ul>
                </li>
            }
            else
            {
                <li>@Html.ActionLink("Admin", "Index", "Account", routeValues: new { area = "admin" }, htmlAttributes: new { id = "loginLink" })</li>
            }
        </ul>
    </div>
}