@using ResourceLayer

<div class="alert alert-danger">
    <strong>
        <i class="ace-icon fa fa-times"></i>
        Oops!
    </strong>
    @Convert.ToString(ResourceFile.Record_Not_Found)
    <br>
</div>